# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
highway_env
highway_venv

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# local models
*.pth

# Pyre type checker
.pyre/
.idea
.DS_Store
data
pipelines/.DS_Store
dataset_5000.npy
highway_attention_ppo/model_fast.zip
highway_attention_ppo/model_new.zip
highway_attention_ppo/model_race.zip
highway_attention_ppo/model.zip
pipelines/.DS_Store
run/rl-video-episode-0.meta.json
run/rl-video-episode-0.mp4
run/rl-video-episode-1.meta.json
run/rl-video-episode-1.mp4
run/rl-video-episode-2.meta.json
pipelines/.DS_Store
higwhay_venv
mcts_dataset_alldata_eight.npy
mcts_dataset_alldata_five.npy
mcts_dataset_alldata_four.npy
mcts_dataset_alldata_second.npy
mcts_dataset_alldata_seven.npy
mcts_dataset_alldata_six.npy
mcts_dataset_alldata_third.npy
mcts_dataset_alldata.npy
mcts_dataset_expert_eight.npy
mcts_dataset_expert_five.npy
mcts_dataset_expert_four.npy
mcts_dataset_expert_second.npy
mcts_dataset_expert_seven.npy
mcts_dataset_expert_six.npy
mcts_dataset_expert_third.npy
mcts_dataset_expert.npy
mcts_dataset_seocond.npy
mcts_dataset.npy
